
<html>
<head>
<link rel="stylesheet" type="text/css" href="./common/wl.css">
</head>

<body>
<form action="debrief.php?idnumber=1472" method="post">

<table width="780" cellpadding="10" cellspacing="0" border="0" align="center">
<tr><td><h3>Debriefing : Eyewitness Identification Research </td><td align="right"><img src="./logos/ucsd.jpg" width=150></tr>
</table>

<table width="780" cellpadding="10" cellspacing="0" border="0" align="center"><tr><td>
<p>Thank you for taking part in this study.</p>

<p>We research eyewitness memory and decision-making. There are two major aims of this study: 1) to investigate an
eyewitness&#39;s ability to discriminate innocent from guilty suspects after viewing a crime, and 2) to measure the
relationship between confidence and accuracy in eyewitnesses of different ages and under different circumstances.
</p>

<p>To learn more about how eyewitnesses make identifications, we asked you to study a video of a mock crime, you
took a distractor task (this is in place to mimic the timing between the occurrence of a real crime and reporting
that crime), and finally we tested your memory for the offender featured in the video in a lineup (a group of people)
or showup (only one person). You may have been randomly assigned to a condition in which the offender was not in the
lineup or a condition in which the offender was in the lineup. We asked about your confidence because confidence
level is diagnostic of accuracy when eyewitnesses first make an identification from a lineup or showup.</p>

<p>The better we can understand eyewitness identifications, the more we can improve procedures that reduce the risk of innocent people being wrongly investigated and convicted and guilty people not being correctly investigated and convicted. The results of this experiment, and others like it will be informative for other researchers, policymakers and people working in the legal system.</p>

<p>If you are interested in this work, please visit our lab at <a href="http://wixtedlab.ucsd.edu">wixtedlab.ucsd.edu</a>.</p>

<p>If you have any questions or require any further information, please contact Bella Killeen (<a href="mailto:ikilleen@ucsd.edu">ikilleen@ucsd.edu</a>).</p>

<p style="background-color:lightgrey">If you are Mechanical Turk user, please return to <a href="https://www.mturk.com/mturk/welcome">Mechanical Turk </a> to input your WorkerID.</p>
</table>
</body>
</html>
