<html>

<head>
  <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <!-- <form action="debrief.php?idnumber=1472" method="post"> -->
    <div class="row">
      <div class="col">
        <h3>Debriefing : Eyewitness Identification Research</h3>
        <p><strong>Thank you for taking part in this study.</strong></p>

        <p>We research eyewitness memory and decision-making. There are two major aims of this study: 1) to investigate an eyewitness&#39;s ability to discriminate innocent from guilty suspects after viewing a crime, and 2) to measure the relationship between
          confidence and accuracy in eyewitnesses of different ages and under different circumstances.
        </p>

        <p>To learn more about how eyewitnesses make identifications, we asked you to study a video of a mock crime, you took a distractor task (this is in place to mimic the timing between the occurrence of a real crime and reporting that crime), and finally
          we tested your memory for the offender featured in the video in a lineup (a group of people) or showup (only one person). You may have been randomly assigned to a condition in which the offender was not in the lineup or a condition in which
          the offender was in the lineup. We asked about your confidence because confidence level is diagnostic of accuracy when eyewitnesses first make an identification from a lineup or showup.</p>

        <p>The better we can understand eyewitness identifications, the more we can improve procedures that reduce the risk of innocent people being wrongly investigated and convicted and guilty people not being correctly investigated and convicted. The
          results of this experiment, and others like it will be informative for other researchers, policymakers and people working in the legal system.</p>

        <p>If you are interested in this work, please visit our lab at <a href="http://wixtedlab.ucsd.edu">wixtedlab.ucsd.edu</a>.</p>

        <p>If you have any questions or require any further information, please contact Bella Killeen (<a href="mailto:ikilleen@ucsd.edu">ikilleen@ucsd.edu</a>).</p>

        <p style="background-color:lightgrey">If you are Mechanical Turk user, please click <a href="https://ucsdpsych.az1.qualtrics.com/jfe/form/SV_9ug2Xc4wp8rxQkB"> here </a> to get your validation code.</p>
      </div>
      <div class="col-auto">
        <img src="media/ucsd.jpg" width=150>
      </div>
    </div>

  </div>
  <script>
  var config = {
    apiKey: "AIzaSyCa5_e0vkkiBXQxKcpvGKHyumnWyvQ_os8",
    authDomain: "ucsd-psych.firebaseapp.com",
    databaseURL: "https://ucsd-psych.firebaseio.com",
    projectId: "ucsd-psych",
    storageBucket: "ucsd-psych.appspot.com",
    messagingSenderId: "325328536445"
  };

  firebase.initializeApp(config);

  window.onload = function() {
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
      } else {
        window.location = '/'
      }
    });
  }
  </script>

</body>

</html>
