<html>

<head>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-firestore.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <script src="js/userflowcontrol.js"></script>
  <script src="js/firebae.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>2048!</h2>
        <p>You will now play 2048 for a short amount of time. First read these instructions before continuing to the next page.</p>
        <p><strong>How to play: </strong></p>
        <ul>

          <li>2048 is a matching game where your job is to combine matching tiles to create larger numbered tiles. </li>
          <li>When there are no more moves left, and the board is full, the game is over.</li>
          <li>If you want to get to the mythical 2048 tile, you'll have to think strategically and plan your moves carefully.</li>
          <li>Random number blocks will appear on your board and you can move them using the arrow buttons on your keyboard.</li>
          <li>Combining two equal tiles will create a new block equaling the sum of the two previous blocks.</li>
          <li>The game ends when you reach 2048 or your board becomes completely full.</li>
        </ul>
        <p><strong>Keep playing: </strong></p>
        <ul>
          <li>Your scores will be recorded.
          <li>If you play more than one game, your goal is to improve your score as you go.
          <li>Play the game until the page automatically redirects to the next part of the experiment.
        </ul>
        <h4 style="color:red">ARROW KEYS NOT WORKING? CLICK ON THE GAME GRID AND TRY AGAIN!</h4>
        <br />
        <button id="next-button" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</body>

</html>
