<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" type="text/css" />
	<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-firestore.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

	<table width="780" cellpadding="10" cellspacing="0" border="0" align="center">
		<!-- <tr><td><h3>Eyewitness Identification Research </td><td align="right"><img src="./logos/ucsd_hrpp.jpg" width=150></tr> -->
	</table>

	<div class="container">
		<h1>Welcome!</h1>
		<p>
			This is a research project being conducted by John Witted and Laura Mickes at the University of California, San Diego. The purpose of this research project is to find out more about human memory. We are interested in studying these issues to
			increase
			our general understanding for human cognitive processes.
		</p>


		<h5> What will I be asked to do?</h5>
		<p>
			You have been asked to participate because you are interested in learning about research first hand. The procedure involves studying lists of words, faces, pictures, or short video clips on a computer screen. You will then ask to remember what
			those pictures,
			words or details about the video were. Participation in this study will take approximately 15 minutes.
		</p>

		<h5> What about confidentiality?</h5>
		<p>
			This experiment is being hosted by University of California, San Diego servers. Research records will be kept confidential. Research records will be kept confidential to the extent allowed by the law. Research records may be reviewed by the UCSD
			Institutional
			Review Board.
		</p>

		<h5> What are the risks of this research?</h5>
		<p>
			You may experience some frustration or boredom while participating in our study but you may withdraw the the experiment at any time. Another risk is the potential harm resulting from a breach of confidentiality however, no identifiers will be
			stored with
			subjects data.
		</p>

		<h5> What are the benefits of this research?</h5>
		<p>
			This research is not designed to help you personally, but the results may help the investigator learn more about human memory. We hope that, in the mme, other people might benefit hom this study through improved understanding of human cognitive
			processes.
		</p>

		<h5> Do I have to be in this research? May I stop participating at any time?</h5>
		<p>
			You will be one of 5,000 participants. Your participation in this research is completely voluntary. You may choose not to take part at all. If you decide to participate in this research, you may stop participating at any time. If you decide not
			to participate
			in this study or if you stop participating at any time, you will not be penalizes or lose any benefits to which you otherwise qualify.
		</p>

		<h5> What if I have questions?</h5>
		<p>
			This research is being conducted by Laura Mickes at the University of California, San Diego and Royal Holloway, University of London. If you have any questions about the research study itself; please contact Laura Mickes. You may also call the
			UCSD Human
			Subjects protection program at 858-657-5100 for more information about this, to inquire about your rights as a research subject
			<div class="row justify-content-center">
				<div class="col-auto">
					John Wixted, Ph.D.<br> Department of Psychology<br> University of California, San Diego<br> La Jolla, CA 92093-0109<br> E-mail: <a href="mailto:jwixted@ucsd.edu">jwixted@ucsd.edu</a><br> Phone Nmnber: 858-534-3956
				</div>
				<div class="col-auto">
					Laura Mickes, Ph.D.<br> Department of Psychology<br> University of California, San Diego<br> La Jolla, CA 92093-0109<br> E-mail: <a href="mailto:laura.mickes@rhul.ac.uk">laura.mickes@rhu1.ac.uk</a><br> Phone Number: 858-534-3956
				</div>
			</div>
			</br>

			<br><br> This research has been reviewed according to the University of California, San Diego IRB procedures for research involving human subjects.<br><br> The <b>IRB Project number</b> for this experiment is <b>121186</b>.
		</p>

		<h4><strong>Statement of Age of Participant and consent</strong></h4>
		<div class="px-3">
			<!-- <div class="form-row">
				<div class="form-group col-md-4">
					<label for="">What is your Worker ID? This will be used for reimbursement</label>
					<label for="" hidden="true" style="color:red" id="invalidID"><b>Please</b> enter a valid Worker ID :)</label>
					<input type="text" class="form-control" name="formID" id="formID" maxlength="100" placeholder="ENTER MTURK ID" oninput="formValidity()" required>
				</div>
			</div> -->
			<div id="submit-stuff">
				<p>
					By clicking "I agree" you indicate that: you are at least 18 years of age, the research has been explained to you, your questions have been fully answered; and you freely and voluntarily choose to participate in this research project.
				</p>
				<div class="form-group">
					<div class="form-check">

						<input class="form-check-input" type="checkbox" id="gridCheck" name="agree" onClick="{document.getElementById('submits').hidden = false; document.getElementById('submits').disabled = false;}" value="agree" required>
						<label class="form-check-label" for="gridCheck">Check here if you agree to participate</label>
						<br />
						<label for="" hidden="true" style="color:red" id="invalidID">There was an error, please refresh your page and try again. <b>Sorry for the inconvenience</b></label>
					</div>
				</div>
				<button name="formSubmit" id="submits" hidden="true" class="btn btn-primary" value="Submit Consent Form" onclick="createNewUser()" disabled>Submit Consent Form</button>
			</div>
		</div>
	</div>

	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyCa5_e0vkkiBXQxKcpvGKHyumnWyvQ_os8",
			authDomain: "ucsd-psych.firebaseapp.com",
			databaseURL: "https://ucsd-psych.firebaseio.com",
			projectId: "ucsd-psych",
			storageBucket: "ucsd-psych.appspot.com",
			messagingSenderId: "325328536445"
		};
		firebase.initializeApp(config);

		firebase.auth().onAuthStateChanged(function(user) {
			if (user) {
				redirect();
			}
		});

		function addLoader() {
			document.getElementById('submits').innerHTML = `<div class="lds-ripple"><div></div><div></div></div>`;
		}


		function createNewUser() {
			addLoader();
			const database = firebase.database();
			firebase.auth().signInAnonymously().then(function() {
				firebase.auth().onAuthStateChanged(function(user) {
					if (user) {
						var isAnonymous = user.isAnonymous;
						var uid = user.uid;
						setDatabase(uid);
						console.log(uid);
					} else {
						document.getElementById("invalidID").hidden = false;
					}
				});
			}).catch(function(error) {
				document.getElementById("invalidID").hidden = false;
			});
		}

		function experimentType() {
			// target present and target not present are for sliders
			// standard target present/not present are for selecting a face
			let types = ["tp", "tnp", "stp", "stnp"]
			let type = types[Math.floor((Math.random() * 4))];
			return type;
		}

		function getDate() {
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth() + 1; //January is 0!

			var yyyy = today.getFullYear();
			if (dd < 10) {
				dd = '0' + dd;
			}
			if (mm < 10) {
				mm = '0' + mm;
			}
			return mm + '/' + dd + '/' + yyyy;
		}

		function setDatabase(uid) {
			const database = firebase.database();
			database.ref('slider/' + uid).set({
				"ID": uid,
				"experiment type": experimentType(),
				"date_taken": getDate()
			});
			document.getElementById('submits').hidden = false;
			document.getElementById('submits').disabled = false;
		}

		function redirect() {
			window.location.href = '/instructions';
		}

	</script>

</body>


</html>
