<html>
<script>

function redirect() {
  window.location.href='/distractor';
}

function play(){
  document.getElementById('video-stuff').style.visibility = "visible";
  document.getElementById('instructions-stuff').style.visibility = "hidden";
}

function redirect(){
	window.location.href='/distractor';
}

</script>
</head>

<body>

<div id="instructions-stuff">
  <table width="780" height="100%" cellpadding="0" cellspacing="0" border="0" align="center"><tr><td valign="top">
  <h3>Instructions</h3>
  <p> Please read the instructions below and press the button when you are ready to continue. </p>

  <ul>
  <li>You will watch a very brief video.
  <li>Pay special attention because you will be asked questions about it later.
  <li>Do not refresh the page or use the browser back buttons throughout the experiment.
  </ul>
</div>

<button id="play button"   onClick="play()">play video</button>
<br>
<div id="video-stuff" style="visibility: hidden">
  <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/3Udczbm4-L0?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br />
  <button id="redirect-button" onClick="{window.location.href='/distractor'}">continue</button>
</div>

</body>
</html>
