
<html>
<head>
<link rel="stylesheet" type="text/css" href="./common/wl.css">
<script>

</script>
</head>

<body onload="onLoad()">

<table width="780" height="100%" cellpadding="0" cellspacing="0" border="0" align="center"><tr><td valign="top">
<h3>Instructions</h3>
<p>The person from the video may or may not be in the lineup you are about to see.</p>
<ul>
<li>If you do not see the person from the video, pick the "not present" option and then rate your confidence.
<li>If you see the person from the video, pick the person and then rate your confidence.
</ul>

<input type="submit" name="formSubmit" value="Next" onClick="{window.location.href='/lineup'}"/>
</body>
</html>
