

<html>
<head>
<link rel="stylesheet" type="text/css" href="./common/wl.css">
<script type="text/javascript">
function checkInput() {
    if(document.getElementById('formSelection').value != "NA"  && document.getElementById('formConfidence').value != "NA") {
      document.getElementById('Next').style.visibility = "visible";
    }
    else {
      document.getElementById('Next').style.visibility = "hidden";
    }
}

function radioClicked(id) {
  document.getElementById('1').setAttribute("style", "border-color : #FFFFFF");
  document.getElementById('2').setAttribute("style", "border-color : #FFFFFF");
  document.getElementById('3').setAttribute("style", "border-color : #FFFFFF");
  document.getElementById('4').setAttribute("style", "border-color : #FFFFFF");
  document.getElementById('5').setAttribute("style", "border-color : #FFFFFF");
  document.getElementById('6').setAttribute("style", "border-color : #FFFFFF");

  document.getElementById('formSelection').selectedIndex     = 1;

  document.getElementById('textConfidence').style.visibility = "visible";
  document.getElementById('formConfidence').style.visibility = "visible";
  //  document.getElementById('Next').style.visibility           = "visible";
}

function imageClicked(id) {
  document.getElementById("notPresentRadio").checked = false;
  document.getElementById('1').setAttribute("style", "border-color : #FFFFFF");
  document.getElementById('2').setAttribute("style", "border-color : #FFFFFF");
  document.getElementById('3').setAttribute("style", "border-color : #FFFFFF");
  document.getElementById('4').setAttribute("style", "border-color : #FFFFFF");
  document.getElementById('5').setAttribute("style", "border-color : #FFFFFF");
  document.getElementById('6').setAttribute("style", "border-color : #FFFFFF");

  id.setAttribute("style", "border-color : #FF0000");

  iPhoto = id.id;
  document.getElementById('formSelection').selectedIndex = parseInt(iPhoto)+1;
  //  document.getElementById('formSelection').selectedIndex = iPhoto;

  document.getElementById('textConfidence').style.visibility = "visible";
  document.getElementById('formConfidence').style.visibility = "visible";
  //  document.getElementById('Next').style.visibility           = "visible";
}

function confidenceSelected() {
  document.getElementById('Next').style.visibility = "visible";
}

</script>
</head>

<body>
<form action="gridPhoto.php?idnumber=1472" method="post">

<table width="780" cellpadding="3" cellspacing="0" border="0" align="center">
<tr><td colspan=3>
<p>If the person from the video is below, click on the image of that person. </p> </td></tr>
<tr><td colspan=3>
<p>If the person is not present click on the non-present button <input id="notPresentRadio" type="radio" onClick="radioClicked(this)"></p></td></tr>
<tr>
<td align="center">
        <img id="1" src="./images/063" onClick="imageClicked(this)" border=6 style="border-color : #FFFFFF" width=200>
</td>
<td align="center">
        <img id="2" src="./images/040" onClick="imageClicked(this)" border=6 style="border-color : #FFFFFF" width=200>
</td>
  <td align="center">
        <img id="3" src="./images/051" onClick="imageClicked(this)" border=6 style="border-color : #FFFFFF" width=200>
  </td>
</tr>

<tr>
<td align="center">
        <img id="4" src="./images/111" onClick="imageClicked(this)" border=6 style="border-color : #FFFFFF" width=200>
</td>
<td align="center">
        <img id="5" src="./images/049" onClick="imageClicked(this)" border=6 style="border-color : #FFFFFF" width=200>
</td>
<td align="center">
        <img id="6" src="./images/010" onClick="imageClicked(this)" border=6 style="border-color : #FFFFFF" width=200>
</td>
</tr>
</table>

<table width="780" cellpadding="10" cellspacing="0" border="0" align="center">
  <tr><td align="center"><div><p id="textConfidence" style="visibility: hidden">Indicate your level of confidence that you did or did not see the person in the video.</p></div></td>
<td align="center">
        <select name="formConfidence" id="formConfidence" onChange="checkInput()" style="visibility: hidden"/>
	<option value="NA"></option>
                <option value="0">0&#37</option>
                <option value="10">10&#37</option>
                <option value="20">20&#37</option>
                <option value="30">30&#37</option>
                <option value="40">40&#37</option>
                <option value="50">50&#37</option>
                <option value="60">60&#37</option>
                <option value="70">70&#37</option>
                <option value="80">80&#37</option>
                <option value="90">90&#37</option>
                <option value="100">100&#37</option>
                </select>
</td></tr>
<tr><td align="center" colspan=2><input id="Next" type="submit" name="formSubmit" value="Next" style="visibility: hidden"/></td></tr>

</table>

<select name="formSelection" id="formSelection" onChange="checkInput()" style="visibility: hidden"/>
<option value="NA"></option>
<option value="Not present">Not present</option>
<option value="063">1</option>
<option value="040">2</option>
<option value="051">3</option>
<option value="111">4</option>
<option value="049">5</option>
<option value="010">6</option>
</select>


<select name="formId" id="formId" onChange="checkInput()" style="visibility: hidden"/>
<option value="1"></option>

</body>
</html>
