<html>

<head>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-firestore.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <script src="js/firebae.js"></script>
  <script src="js/userflowcontrol.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Test Phase</h2>
        <br />
        <p>
          <strong>Instructions for the Lineup Test:</strong>
        </p>
        `<ul>
            <li>On the next screen, you will see a lineup of 6 faces. (The man from the video may or may not be one of them.)</li>
            <li>After deciding whether or not he is in the lineup, you will
              be asked to rate your confidence using a slider scale presented below the faces.</li>
          </ul>`
        <button id="next-button" class="btn btn-primary">Continue</button>

      </div>
    </div>
  </div>
</body>

</html>
