<html>

<head>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-firestore.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <script src="js/userflowcontrol.js"></script>
  <script src="js/firebae.js"></script>
  <style>
    img {
      height: 350px !important;
      margin-bottom: 50px;
      margin-top: 15px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Test Phase</h2>
        <br />
        <p>
          <strong>Instructions for the Lineup Test:</strong>
        </p>
        <div id="instruction-content">
        </div>

        <button id="next-button" class="btn btn-primary">Continue</button>

      </div>
    </div>
  </div>

  <script>
    getUserData().then(e => {
      if(!window.experimentType.includes('s')){
        document.getElementById('instruction-content').innerHTML = `<ul>
          <li>
            You will now be asked about the person you saw in the video earlier.
          </li>
          <li>On the next screen, you will see 6 faces. (The man from the video may or may not one of them.)</li>
          <li>Beneath each face will be a sliding scale ranging from 0% to 100%</li>
          <li><b>0%</b> will represent there being a <b>0% chance it was him</b>. (In other words, you are <u>certain</u> it was NOT this person)</li>
          <img class="img-thumbnail" src='media/examples/surenot.png'></img>
          <li><b>100%</b> will represent there being a <b>100% chance it is was him</b>. (In other words, you are <u>certain</u> it WAS this person)</li>
          <img class="img-thumbnail" src='media/examples/sureis.png'></img>
          <li>The middle of the scale (50%) means that you are completely unsure if it was him or not.</li>
          <img class="img-thumbnail" src='media/examples/guessing.png'></img>
          <li>
            <h3>Please note that you can use any number ranging from 0% to 100%.</h3>
          </li>
          <li>
            Please click <b>continue</b> to begin.
          </li>
        </ul>`
      } else {
        document.getElementById('instruction-content').innerHTML =
        `<ul>
          <li>On the next screen, you will see a lineup of 6 faces. (The man from the video may or may not be one of them.)</li>
          <li>After deciding whether or not he is in the lineup, you will
            be asked to rate your confidence using a slider scale presented below the faces.</li>
        </ul>`
      }
    })
  </script>

</body>

</html>
