<html>
<meta charset="utf-8">

<head>
	<script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js">
	</script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyCa5_e0vkkiBXQxKcpvGKHyumnWyvQ_os8",
			authDomain: "ucsd-psych.firebaseapp.com",
			databaseURL: "https://ucsd-psych.firebaseio.com",
			projectId: "ucsd-psych",
			storageBucket: "ucsd-psych.appspot.com",
			messagingSenderId: "325328536445"
		};
		firebase.initializeApp(config);
	</script>

	<script type="text/javascript">

		function shuffle(array) {
			var currentIndex = array.length,
				temporaryValue, randomIndex;

			// While there remain elements to shuffle...
			while (0 !== currentIndex) {

				// Pick a remaining element...
				randomIndex = Math.floor(Math.random() * currentIndex);
				currentIndex -= 1;

				// And swap it with the current element.
				temporaryValue = array[currentIndex];
				array[currentIndex] = array[randomIndex];
				array[randomIndex] = temporaryValue;
			}

			return array;
		}

		function getPics(tp){
		  let lineup = [];
		  if(tp){lineup.push("media/target.jpg");}
		  while(lineup.length < 6){
		    lineup.push("media/fillers/" + Math.floor((Math.random() * 114) + 1) + ".jpg");
		  }
		  return shuffle(lineup);
		}

		function addPics(lineup) {
			for (let pic in lineup) {
				document.getElementById(pic).src = lineup[pic];
			}

		}

		function onLoad() {
			let user = sessionStorage.getItem("user");
			const database = firebase.database();

			let types = {
				"dtp": true,
				"dtnp": false,
				"ddtp": true,
				"ddtnp": false
			}

			let lineup = getPics(types[sessionStorage.getItem("expType")]);

			addPics(lineup);

			console.log(lineup);
		}

		function checkInput() {
			if (document.getElementById('formSelection').value != "NA" && document.getElementById('formConfidence').value != "NA") {
				let correctness = window.sessionStorage.getItem("correct");
				let conf = document.querySelector('#formConfidence');
				let confidence = conf.options[conf.selectedIndex].value;
				const database = firebase.database();
				database.ref('users/' + sessionStorage.getItem("user")).update({
					"correct": correctness,
					"confidence level": confidence,
				}).then((response) => {
					document.getElementById('Next').style.visibility = "visible";
				});
			} else {
				document.getElementById('Next').style.visibility = "hidden";
			}



		}

		function radioClicked(id) {
			console.log("🤷🏻‍♂️")
		  let expType = sessionStorage.getItem("expType")
		  if( expType === "ddtp" || expType === "ddtnp"){
		    for(let i = 0; i < 6; i++){
		      document.getElementById(i).setAttribute("style", "border-color : #FFFFFF");
		    }

		  } else {
		    for(let i = 0; i < 6; i++){
		      document.getElementById(i).style.visibility = "hidden";
		    }
		  }
			document.getElementById('formSelection').selectedIndex     = 1;
		  if(expType === "ddtnp" || expType === "dtnp"){
		    sessionStorage.setItem("correct", true);
		  } else {
		    sessionStorage.setItem("correct", false);
		  }
			document.getElementById('confidence').classList.add("d-block");
		  //  document.getElementById('Next').style.visibility           = "visible";
		}

		function imageClicked(id) {
			console.log(id);
			//makes picture normal sized
			if(document.querySelector(".selected-pic")) {
				document.querySelector(".selected-pic").classList.remove("selected-pic");
			}
			document.getElementById("notPresentCheck").checked = false;
		  if(sessionStorage.getItem("expType") === "ddtp" || sessionStorage.getItem("expType") === "ddtnp"){
		    for(let i = 0; i < 6; i++){
					document.getElementById("notPresentCheck").checked = false;
		      document.getElementById(i).setAttribute("style", "border-color : #FFFFFF");
		    }
			id.classList.add("selected-pic");
			id.setAttribute("style", "border-color : #FF0000");
		  document.getElementById('formSelection').selectedIndex     = 1;
		  } else {
		    for(let i = 0; i < 6; i++){
		      document.getElementById(i).style.visibility = "hidden";
		    }
		    document.getElementById('textConfidence').style.visibility = "visible";
		    document.getElementById('formConfidence').style.visibility = "visible";
		  }

			iPhoto = id.id;
			document.getElementById('formSelection').selectedIndex = parseInt(iPhoto) + 1;

			//handles correct choice
			if(id.src.indexOf("media/target.jpg") >=0 ){
			    sessionStorage.setItem("correct", true);
			  } else {
			    sessionStorage.setItem("correct", false);
			  }

			document.getElementById('confidence').classList.add("d-block");
		}

	</script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" type="text/css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body onload="onLoad()">
	<div class="container">
		<div class="row">
			<h5>If the person from the video is below, click on the image of that person. </h5>
		</div>
		<div class="row justify-content-between">
			<div class="col-md-4">
				<img id='0' src='media/fillers/blank.jpg' onClick='imageClicked(this)'>
			</div>
			<div class="col-md-4">
				<img id='1' src='media/fillers/blank.jpg' onClick='imageClicked(this)'>
			</div>
			<div class="col-md-4">
				<img id='2' src='media/fillers/blank.jpg' onClick='imageClicked(this)'>
			</div>
		</div>
		<div class="row justify-content-between mt-4">
			<div class="col-md-4">
				<img id='3' src='media/fillers/blank.jpg' onClick='imageClicked(this)'>
			</div>
			<div class="col-md-4">
				<img id='4' src='media/fillers/blank.jpg' onClick='imageClicked(this)'>
			</div>
			<div class="col-md-4">
				<img id='5' src='media/fillers/blank.jpg' onClick='imageClicked(this)'>
			</div>
		</div>
		<div class="form-group row">
			<div class="form-check mt-3">
				<input id="notPresentCheck" class="form-check-input" type="checkbox" onclick="radioClicked(this)" style="width:20px; height: 20px; border-radius: 4px; background-color: lightgrey; "/>
				<label class="form-check-label mt-1"style="font-size: 1.25rem; margin-top: 0.4rem">Check here <strong>if the person is not present</strong></label>
			</div>
		</div>
		<div id="confidence" class="form-group row my-4 d-none">
			<div class="form-inline">
				<label id="textConfidence" class="col-auto">Indicate your level of confidence that you did or did not see the person in the video.</label>
				<select name="formConfidence" id="formConfidence" class="form-control col-1" onChange="checkInput()">
					<option value="NA"></option>
					<option value="0">0%</option>
					<option value="10">10%</option>
					<option value="20">20%</option>
					<option value="30">30%</option>
					<option value="40">40%</option>
					<option value="50">50%</option>
					<option value="60">60%</option>
					<option value="70">70%</option>
					<option value="80">80%</option>
					<option value="90">90%</option>
					<option value="100">100%</option>
					</select>
			</div>
		</div>
		<div class="row">
			<input id="Next" onClick="{window.location.href='/stimQuestions'}" class="btn btn-primary btn-lg" type="submit" name="formSubmit" value="Next" style="visibility: hidden" />
		</div>
	</div>

	<table width="780" cellpadding="10" cellspacing="0" border="0" align="center">
		<tr>
			<td align="center">
				<div>
				</div>
			</td>
			<td align="center">

			</td>
		</tr>
		<tr>
			<td align="center" colspan=2></td>
		</tr>

	</table>

	<select name="formSelection" id="formSelection" onChange="checkInput()" style="visibility: hidden" />
	<option value="NA"></option>
	<option value="Not present">Not present</option>
	<option value="063">1</option>
	<option value="040">2</option>
	<option value="051">3</option>
	<option value="111">4</option>
	<option value="049">5</option>
	<option value="010">6</option>
	</select>


	<select name="formId" id="formId" onChange="checkInput()" style="visibility: hidden" />
	<option value="1"></option>

</body>

</html>
