<html>
<meta charset="utf-8">

<head>
	<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-firestore.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" type="text/css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<style>
		img {
			width:100%;
		}

		#not-selected{
			font-size: 25px;
			color: red;
		}

		#selected{
			font-size: 15px;
			color: black;
		}

		p span{
			color: #64f24f;
			font-size: 30px;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<h5>Please rate how confident you are that the woman below is the woman in the video </h5>
			</br>
			<h5> 0% - I guessed, 100% absolutely certain</h5>
		</div>
		<!-- Row 1, Col 1. -->
		<div class="row justify-content-between">
			<div class="col-md-4">
				<img id='0' src='media/fillers/blank.png'>
				<div class="slidecontainer">
					<input type="range" min="0" max="100" value="50" class="slider" id="slider0">
					<p id="not-selected">Value: <span id="slider0-output"></span></p>
				</div>
			</div>
			<!-- Row 1, Col 2 -->
			<div class="col-md-4">
				<img id='1' src='media/fillers/blank.png'>
				<div class="slidecontainer">
					<input type="range" min="0" max="100" value="50" class="slider" id="slider1">
					<p id="not-selected">Value: <span id="slider1-output"></span></p>
				</div>
			</div>
			<!-- Row 1, Col 3 -->
			<div class="col-md-4">
				<img id='2' src='media/fillers/blank.png'>
				<div class="slidecontainer">
					<input type="range" min="0" max="100" value="50" class="slider" id="slider2">
					<p id="not-selected">Value: <span id="slider2-output"></span></p>
				</div>
			</div>
		</div>
		</br>
		<!-- Row 2, Col 1 -->
		<div class="row justify-content-between">
			<div class="col-md-4">
				<img id='3' src='media/fillers/blank.png'>
				<div class="slidecontainer">
					<input type="range" min="0" max="100" value="50" class="slider" id="slider3">
					<p id="not-selected">Value: <span id="slider3-output"></span></p>
				</div>
			</div>
			<!-- Row 2, Col 2 -->
			<div class="col-md-4">
				<img id='4' src='media/fillers/blank.png'>
				<div class="slidecontainer">
					<input type="range" min="0" max="100" value="50" class="slider" id="slider4">
					<p id="not-selected">Value: <span id="slider4-output"></span></p>
				</div>
			</div>

			<!-- Row 2, Col 3 -->

			<div class="col-md-4">
				<img id='5' src='media/fillers/blank.png'>
				<div class="slidecontainer">
					<input type="range" min="0" max="100" value="50" class="slider" id="slider5">
					<p id="not-selected">Value: <span id="slider5-output"></span></p>
				</div>
			</div>
		</div>
		<div id="present" class="form-group row my-4 d-none">
			<div class="form-inline">
				<label id="textSure" class="col-auto">Is the person you selected actually the woman from the video?</label>
				<select name="formSure" id="formSure" class="form-control col-1" onChange="showConf()">
					<option value="N/A" selected disabled></option>
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
			</div>
		</div>
		<div class="row">
			<input id="Next" onClick="submit()" class="btn btn-primary" type="submit" name="formSubmit" value="Next" hidden />
		</div>
	</div>

	<table width="780" cellpadding="10" cellspacing="0" border="0" align="center">
		<tr>
			<td align="center">
				<div>
				</div>
			</td>
			<td align="center">

			</td>
		</tr>
		<tr>
			<td align="center" colspan=2></td>
		</tr>

	</table>

	<script type="text/javascript">
		var config = {
			apiKey: "AIzaSyCa5_e0vkkiBXQxKcpvGKHyumnWyvQ_os8",
			authDomain: "ucsd-psych.firebaseapp.com",
			databaseURL: "https://ucsd-psych.firebaseio.com",
			projectId: "ucsd-psych",
			storageBucket: "ucsd-psych.appspot.com",
			messagingSenderId: "325328536445"
		};
		firebase.initializeApp(config);

		document.getElementsByTagName("body")[0].onload = function() {
			// code for slider logic
			let sliders = document.getElementsByClassName("slider")
			for (var slider in sliders) {
				let curr_slider = sliders[slider];
				let curr_output = document.getElementById(curr_slider.id + "-output");
				sliders[slider].oninput = function() {
					curr_output.innerHTML = this.value;
					curr_output.parentNode.id = "selected";
					inputted(this);
				}
			}

			firebase.auth().onAuthStateChanged(function(user) {
				if (user) {
					window.userId = user.uid;
					firebase.database().ref("/users/" + window.userId + "/experiment type")
						.once('value').then(function(snapshot) {
							window.experimentType = snapshot.val();

							let lineup = getPics(window.experimentType);

							addPics(lineup);
						});
				} else {
					window.location = '/debrief'
				}
			});
		}

		// logic for checking if all 6 inputs have been inputted
		let inputs = {};
		function inputted(element){
			if(!(element.id in inputs)){
				inputs[element.id] = true;
			}
			if(Object.keys(inputs).length == 6){
				//show next button
				document.getElementById("Next").hidden = false;
			}
		}

		function shuffle(array) {
			var currentIndex = array.length,
				temporaryValue, randomIndex;

			// While there remain elements to shuffle...
			while (0 !== currentIndex) {

				// Pick a remaining element...
				randomIndex = Math.floor(Math.random() * currentIndex);
				currentIndex -= 1;

				// And swap it with the current element.
				temporaryValue = array[currentIndex];
				array[currentIndex] = array[randomIndex];
				array[randomIndex] = temporaryValue;
			}

			return array;
		}

		function getPics(experimentType) {
			let lineup = [];
			if (experimentType.slice(-2) === "tp") {
				lineup.push("media/target.jpg");
			}
			while (lineup.length < 6) {
				let pic = "media/fillers/" + Math.floor((Math.random() * 114) + 1) + ".jpg";
				// prevent duplicates by checking if pic is already in lineup
				if(!lineup.includes(pic)){
					lineup.push(pic);
				}
			}
			return shuffle(lineup);
		}

		function addPics(lineup) {
			for (let pic in lineup) {
				document.getElementById(pic).src = lineup[pic];
			}
		}

		function submit() {
			let slider_values = [];
			for(let i = 0; i < 6; i++){
				slider_values.push(document.getElementById("slider"+i).value);
			}
			console.log(slider_values);
			// if (document.getElementById('formSelection').value != "N/A" && document.getElementById('formConfidence').value != "N/A") {
			// 	//check to see if
			// 	if (window.experimentType === "dtnp" || window.experimentType === "ddtnp") {
			// 		if (document.getElementById('formSure').value == 'No') {
			// 			window.correct = true;
			// 		}
			// 	} else {
			// 		if (document.getElementById('formSure').value == 'No') {
			// 			window.correct = false;
			// 		}
			// 	}
			// 	let conf = document.querySelector('#formConfidence');
			// 	let confidence = conf.options[conf.selectedIndex].value;
			// 	let sure = document.querySelector('#formSure');
			// 	let surety = sure.options[sure.selectedIndex].value;
			// 	const database = firebase.database();
			// 	let checked = "N/A"
			//
			// 	database.ref('users/' + window.userId).update({
			// 		"correct": window.correct,
			// 		"confidence level": confidence,
			// 		"selected filler": window.placeholder,
			// 		"person selected from video": surety,
			// 		"checked 'not present'": (document.getElementById("notPresentCheck").checked) ? "true" : (window.experimentType.slice(2, 3) === "s") ? "false" : "N/A"
			// 	}).then((response) => {
			// 		redirect();
			// 	});
			// } else {
			// 	document.getElementById('Next').style.visibility = "hidden";
			// }
		}

		function redirect() {
			window.location.href = '/stimQuestions';
		}
	</script>

</body>

</html>
