<html>

<head>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-firestore.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
  <script src="js/firebae.js"></script>
  <script src="js/userflowcontrol.js"></script>
  <script>
    requiresFirebase();
  </script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Questions about video</h3>
        <h5>Answer all of the questions below:</h5>
        <div class="form-group row">
          <label class="col-6">Where was the stolen item?</label>
          <select id="formQuestion1" name="formQuestion1" onChange="checkInput()" class="form-control col-4">
            <option value="" selected disabled> Select... </option>
            <option value="on a table, inside a home">on a table, inside a home</option>
            <option value="on the floor, in a hallway">on the floor, in a hallway</option>
            <option value="in a car, parked in a lot">in a car, parked in a lot</option>
            <option value="inside a drawer of a desk, in an office">inside a drawer of a desk, in an office</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-6">What was the stolen item?</label>
          <select id="formQuestion2" onchange="checkInput()" class="form-control col-4">
            <option value="" selected disabled> Select...</option>
            <option value="a computer">a computer</option>
            <option value="a cell phone">a cell phone</option>
            <option value="a purse">a purse</option>
            <option value="a box">a box</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-6">How many people were in the video?</label>
          <select id="formQuestion3" onChange="checkInput()" class="form-control col-4">
            <option value="" selected disabled> Select... </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <button id="next-button" class="btn btn-primary" disabled=true onclick="submitForm()">Submit</button>
      </div>
      <div class="col-auto">
        <img src="media/ucsd.jpg" width=150>
      </div>
    </div>
  </div>

  <script>
    function checkInput() {
      let q1 = document.getElementById('formQuestion1');
      let question1 = q1.options[q1.selectedIndex].value;
      let q2 = document.getElementById('formQuestion2');
      let question2 = q2.options[q2.selectedIndex].value;
      let q3 = document.getElementById('formQuestion3');
      let question3 = q3.options[q3.selectedIndex].value;
      if (question1 && question2 && question3) {
        document.getElementById("next-button").disabled = false;
      } else {
        document.getElementById("next-button").disabled = true;
      }
    }
    function submitForm() {
      let q1 = document.getElementById('formQuestion1');
      let question1 = q1.options[q1.selectedIndex].value;
      let q2 = document.getElementById('formQuestion2');
      let question2 = q2.options[q2.selectedIndex].value;
      let q3 = document.getElementById('formQuestion3');
      let question3 = q3.options[q3.selectedIndex].value;
      setDatabase({
        'path': `${window.userId}/answers`,
        'data': {
          "Where was": question1,
          "What was": question2,
          "number of people": question3,
        }
      });
    }

  </script>
</body>

</html>
