<html>

<head>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-firestore.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Questions about video</h3>
        <h5>Answer all of the questions below:</h5>
        <div class="form-group row">
          <label class="col-6">How many people were in the video?</label>
          <select id="formQuestion1" name="formQuestion1" onChange="checkInput()" class="form-control col-4">
            <option value="" selected disabled> Select... </option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-6">What crime was commited?</label>
          <select id="formQuestion2" onchange="checkInput()" class="form-control col-4">
            <option value="" selected disabled> Select...</option>
            <option value="Drug Dealing">Drug Dealing</option>
            <option value="Graffiti">Graffiti</option>
            <option value="Theft">Theft</option>
            <option value="Assault">Assault</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-6">What was true about the scene?</label>
          <select id="formQuestion3" onchange="checkInput()" class="form-control col-4">
            <option value="" selected disabled> Select...</option>
            <option value="The lights were off">The lights were off</option>
            <option value="It was in an office">It was in an office</option>
            <option value="It was outside">It was outside</option>
            <option value="It was sunny outside">It was sunny outside</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-6">What color were the chairs?</label>
          <select id="formQuestion4" onchange="checkInput()" class="form-control col-4">
            <option value="" selected disabled> Select...</option>
            <option value="Orange">Orange</option>
            <option value="Blue">Blue</option>
            <option value="Black">Black</option>
            <option value="There were no chairs">There were no chairs</option>
          </select>
        </div>
        <button id="submit" class="btn btn-primary" disabled=true onclick="submitForm()">Submit</button>
      </div>
      <div class="col-auto">
        <img src="media/ucsd.jpg" width=150>
      </div>
    </div>
  </div>

  <script>
    var config = {
      apiKey: "AIzaSyCa5_e0vkkiBXQxKcpvGKHyumnWyvQ_os8",
      authDomain: "ucsd-psych.firebaseapp.com",
      databaseURL: "https://ucsd-psych.firebaseio.com",
      projectId: "ucsd-psych",
      storageBucket: "ucsd-psych.appspot.com",
      messagingSenderId: "325328536445"
    };

    firebase.initializeApp(config);

    window.onload = function() {
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          window.userId = user.uid;
        } else {
          window.location = "/debrief";
        }
      });
    }

    function checkInput() {
      let q1 = document.querySelector('#formQuestion1');
      let question1 = q1.options[q1.selectedIndex].value;
      let q2 = document.querySelector('#formQuestion2');
      let question2 = q2.options[q2.selectedIndex].value;
      let q3 = document.querySelector('#formQuestion3');
      let question3 = q3.options[q3.selectedIndex].value;
      let q4 = document.querySelector('#formQuestion4');
      let question4 = q4.options[q4.selectedIndex].value;
      if (question1 && question2 && question3 && question4) {
        document.getElementById('submit').disabled = false;
      } else {
        document.getElementById('submit').disabled = true;
      }
    }

    function submitForm() {
      let q1 = document.querySelector('#formQuestion1');
      let question1 = q1.options[q1.selectedIndex].value;
      let q2 = document.querySelector('#formQuestion2');
      let question2 = q2.options[q2.selectedIndex].value;
      let q3 = document.querySelector('#formQuestion3');
      let question3 = q3.options[q3.selectedIndex].value;
      let q4 = document.querySelector('#formQuestion4');
      let question4 = q4.options[q4.selectedIndex].value;

      const database = firebase.database();
      database.ref('slider/' + window.userId + "/answers").set({
        "number of people": question1,
        "crime": question2,
        "true about scene": question3,
        "chair color": question4,
      }).then((response) => {
        redirect();
      });
    }

    function redirect() {
      window.location.href = '/demographics';
    }
  </script>
</body>

</html>
