
<html>
<head>
<script type="text/javascript">
function redirect() {
   setTimeout(f,300);
}
function f() {
   window.location.href='/lineupinstructions'

}
</script>
</head>

<body onload="redirect()">

<table width="780" cellpadding="10" cellspacing="0" border="0" align="center">
<tr><td><h3>Tetris!</h3></td><td></td></tr>

<tr><td>
  <!-- Hey Webmaster! Place this html code where you'd like the game to appear. -->
  <iframe src="https://www.silvergames.com/en/2048/iframe" width="500" height="600" style="margin:0;padding:0;border:0"></iframe>
  <!-- End of game embed code -->


</body>
</html>
