h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  /* background: #E2EFF7; */
}
/* Popup 1 container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  height: 80%;
  width: 80%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 200%;
  /*left: 50%;*/
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Popup 2 container */
.popup2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup2 .popup2text {
  visibility: hidden;
  height: 80%;
  width: 80%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 200%;
  /*left: 50%;*/
  margin-left: -80px;
}

/* Popup arrow */
.popup2 .popup2text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup2 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.container {
  background: rgba(256, 256, 256, 0.5);
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 4px;
}
.slider {
  -webkit-appearance: none;
  float: center;
  margin-top: 1rem;
  width: 200%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 20px;
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 100px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.selected-pic {
  border: 6px solid red;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 14px;
    left: 14px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 24px;
    height: 24px;
    opacity: 0;
  }
}

.btn-primary{
  width: 25%;
  height: 38px;
}
